/* 0px */
/* 480px */
/* 1024px */
/* 1200px */
/* 0px */
/* 480px */
/* 1024px */
/* 1200px */
.survey, .survey__register__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes scale-in {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scale-in {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.survey {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60vw;
  min-width: 300px;
  max-width: 1200px;
  height: 100%;
  min-height: 600px;
  margin: 50px auto;
  padding: 25px;
  background: #355365;
  color: #dee1dd;
  border-radius: 20px;
}

.survey h2 {
  width: 100%;
  margin: 50px auto;
  font-size: 24px;
  text-align: center;
}

.survey h3 {
  width: 100%;
  margin: 30px auto;
  font-size: 20px;
  text-align: center;
}

.survey div {
  width: 100%;
}

.survey button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 25px;
  padding: 15px 25px;
  background: #c4cdc1;
  color: #28364d;
  border: none;
  border-radius: 10px;
  font-weight: 750;
  -webkit-transition: background .33s ease;
  transition: background .33s ease;
  cursor: pointer;
}

.survey button:hover {
  background: #dfe4dd;
  -webkit-animation: scale-in .2s ease;
          animation: scale-in .2s ease;
}

.survey__landing {
  text-align: center;
}

.survey__landing div {
  margin: 50px auto;
}

@-webkit-keyframes survey-form-in {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes survey-form-in {
  from {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.survey__form {
  width: 100%;
  background: inherit;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-animation: survey-form-in .4s ease forwards;
          animation: survey-form-in .4s ease forwards;
}

.survey__form__input {
  position: relative;
  max-width: 450px;
  margin: 20px auto;
  background: inherit;
}

.survey__form__input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin: 6px 0 12px;
  border: 2px solid #dee1dd;
  border-radius: 10px;
  outline: none;
  background: inherit;
  font-weight: 600;
  color: #dee1dd;
}

.survey__form__input input:focus, .survey__form__input input[value]:not([value=""]) {
  border-color: #99aead;
}

.survey__form__input input:focus ~ label, .survey__form__input input[value]:not([value=""]) ~ label {
  top: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.survey__form__input label {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 0 4px;
  border-radius: 2px;
  background: inherit;
  font-size: 11px;
  font-weight: 550;
  text-transform: uppercase;
  color: #dee1dd;
  pointer-events: none;
  -webkit-transform: translate(0, -75%);
          transform: translate(0, -75%);
  -webkit-transition: top, -webkit-transform;
  transition: top, -webkit-transform;
  transition: top, transform;
  transition: top, transform, -webkit-transform;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@-webkit-keyframes survey-register-progress-in {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    color: transparent;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    color: transparent;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    color: #28364d;
  }
}

@keyframes survey-register-progress-in {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    color: transparent;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    color: transparent;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    color: #28364d;
  }
}

.survey__register__progress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  background: #dee1dd;
  color: transparent;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-animation: survey-register-progress-in .4s ease forwards;
          animation: survey-register-progress-in .4s ease forwards;
}

.survey__register__notes {
  font-size: 10px;
  mix-blend-mode: screen;
  mix-blend-mode: color-dodge;
}

.survey__login__reset {
  text-align: center;
}
/*# sourceMappingURL=survey.css.map */