/* 0px */
/* 480px */
/* 1024px */
/* 1200px */
/* 0px */
/* 480px */
/* 1024px */
/* 1200px */
.data-table::-webkit-scrollbar, .data-table::-webkit-scrollbar-thumb, .data-table::-webkit-scrollbar-track {
  width: 8px;
  height: 8px;
  border: none;
  background: transparent;
}

.data-table::-webkit-scrollbar-button, .data-table::-webkit-scrollbar-track-piece, .data-table::-webkit-scrollbar-corner, .data-table::-webkit-resizer {
  display: none;
}

.data-table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #a9b6a5;
}

.data-table::-webkit-scrollbar-thumb:hover {
  background-color: #8ba3a2;
}

.data-table::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #dfe4dd;
  /*
    background-image: url('https://i.imgur.com/GvV1R30.png');
    background-repeat: repeat-y;
    background-size: contain;
    
    &:horizontal {
      background-image: none;
      background-repeat: repeat-x;
    }
    */
}

@-webkit-keyframes scale-in {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scale-in {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.data-table-hero {
  position: relative;
  width: 100vw;
  height: 250px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#628389), to(#d1d8cf));
  background-image: linear-gradient(#628389, #d1d8cf);
}

.data-table-container {
  position: relative;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 50px;
  padding: 25px 100px;
}

.data-table-container h2 {
  margin: 30px 10px;
}

.data-table {
  max-height: calc(100vh - 275px);
  margin: 0 auto;
  overflow: auto;
}

.data-table::-webkit-scrollbar-track {
  margin-top: 75px;
}

.data-table table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: 0;
}

.data-table thead, .data-table tbody, .data-table tr {
  width: 100%;
  margin: 10px 0;
}

.data-table td {
  text-align: left;
  padding: 6px 20px;
}

.data-table .data-table-category {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 67px;
  padding: 0 46px 0 20px;
  font-weight: 900;
  color: #ebedeb;
  text-align: left;
  background: #99aead;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
  cursor: pointer;
}

.data-table .data-table-category:first-child {
  border-radius: 20px 0 0 0;
}

.data-table .data-table-category:last-child {
  border-radius: 0 20px 0 0;
}

.data-table .data-table-category:hover {
  background: #7d9796;
}

.data-table .data-table-category.selected {
  background: #586f6e;
}

.data-table .data-table-category .data-table-category__sort-control {
  position: absolute;
  top: calc(50% - 13px);
  right: 10px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .1s ease-in;
  transition: -webkit-transform .1s ease-in;
  transition: transform .1s ease-in;
  transition: transform .1s ease-in, -webkit-transform .1s ease-in;
}

.data-table .data-table-category .data-table-category__sort-control:hover svg {
  -webkit-animation: scale-in .4s ease;
          animation: scale-in .4s ease;
}

.data-table .data-table-category .data-table-category__sort-control.ascending {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.data-table .data-table-category .data-table-category__sort-control svg {
  width: 26px;
  height: 26px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.data-table .data-table-category .data-table-category__sort-control svg path:first-child {
  fill: #f8f9f8;
}

.data-table .data-table-category .data-table-category__sort-control svg path:last-child {
  fill: #28364d;
  opacity: .33;
}
/*# sourceMappingURL=data-table.css.map */